# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# SwiftData
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Dependencies
node_modules/
package-lock.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Pods (if using CocoaPods)
Pods/

# Carthage
Carthage/Build/

# SPM
.build/
.swiftpm/

# SonarCloud
swiftlint-report.json
.sonarcloud/

# Other
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
